@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@100;400;500;600&family=Roboto:wght@500&display=swap');

:root{
    --white:#fff;
    ---black: #1c2b2d;
    --blue:#31326f;
    --light-blue:#005490;
    --color-primary:#610459;
    --color-sec:#db6400;
    --color-gray:#eee;
    --color-dark-gray:#222831;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: "poppins", "Open  Sans", sans-serif;
  
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}
img{
    width: 100%;
}
.checker{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light-blue);

}
.checked {
    background-color: var(--white);
    padding: 8rem;
   
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--color-dark-gray);
}
input{
    padding: 1rem;
    border: none;
    border-bottom: 3px solid var(--color-sec) ;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    width: 200px;
    font-size: 1.5rem;
    align-items: center;
    border-radius: 3px;
    padding: 1rem 5px;
}
::placeholder{
    font-size: 1.9rem;
}
input:focus{
    border: none;
    outline: none;
    border-bottom: 3px solid var(--color-sec) ;
    
    align-items: center;
}
button{
    padding: 1rem 20px;
   border: none;
   outline: none;
   font-family: "poppins";
   font-weight: 600;
   color: var(--white);
    cursor: pointer;
    background-color: var(--color-primary);
    border-radius: 7px;
    
}
.text{
 margin-top: 3.5rem;
text-align: center;
font-size: 2.5rem;
font-weight: 600;
margin-bottom: -50px;
color: var(--color-dark-gray);
transition: all 0.3s ease;
}